version: "3.1"
services:
    db:
        image: mysql   
        container_name: json-mysql     
        ports: 
            - 3306:3306
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_DATABASE: jsongameserver
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test
        
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: json-phpmyadmin
        depends_on: 
          - db
        links: 
            - db:db
        ports:
            - 8000:80
        environment:
            MYSQL_ROOT_PASSWORD: test
        
    redis:
        image: redis
        container_name: json-redis
        restart: always
        command: ["redis-server", "--requirepass mutts", "--appendonly", "yes"]
        volumes:
            - jsonredisdata:/data
        ports:
            - 6379:6379
volumes:
    jsonredisdata: